body {
    font-family: Arial;
    margin: 0;
  }
  
.header {
    padding: 80px;
    text-align: center;
    background: whitesmoke;
    color: black;
    font-weight: bold;
}

.title_center{
    text-align: center;
    color: black;
    font-weight: bold;
    font-size:50px;

}
.new_button {
    background-color: #008CBA;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }

.h2{
    color: black;
    font-weight: bold;
    margin: 0;
    font-size:18px;
}

.title_left{
    color: black;
    font-weight: bold;
    margin: 50px;
    font-size:18px;
    padding-left: 20px;

}

.row {  
    display: flex;
    flex-wrap: wrap;
  
  }

.featured_image{
    margin: 50px;
    flex: 60%;
    background-color: white;
    padding-left: 40px;
}

.side{
    flex: 40%;
    background-color: white;
}

.weather_textbox{
    background-color: white;
    width: 500px;
    border: 2px solid rgb(168, 168, 168);
 }

.bottom_title{
    color: black;
    font-weight: bold;
    text-align: center;
    font-size:20px;
}
